<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  background-color: #f0f0f0;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
}


    </style>
</head>

<body style="text-align: center;">
<div class="container-fluid ">
    <br>
    <h1 th:text="${title}"></h1>
    <br>
</div>

<a th:href="@{/sucursal/home}">Go to Home</a>

<button th:href="@{/sucursal/home}" class="w3-button w3-black" type="submit">Go to Home</button>


</body>

</html>