<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Sucursal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<!--Title -->
<div class="container-fluid ">
    <br>
    <h1 th:text="${title}"></h1>
    <br>
</div>

<form th:action="${action == 'add' ? '/sucursal/add' : '/sucursal/update'}" th:object="${sucursal}" method="post">
    <input type="hidden" name="action" th:value="${action}"/>
    <input type="hidden" th:field="*{pk_SucursalID}"/>

    <label for="nomSucursal">Name:</label>
    <input type="text" id="nomSucursal" th:field="*{nomSucursal}"/><br/>

    <label for="paisSucursal">Country:</label>
    <input type="text" id="paisSucursal" th:field="*{paisSucursal}"/><br/>

    <button th:text="${button}"></button>
</form>
</body>
</html>