<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>Update Sucursal</title>
</head>
<body>
<h1>Update Sucursal</h1>
<form th:action="@{/sucursal/update}" method="post">
  <input type="hidden" th:name="sucursalId" th:value="${sucursalId}" />

  <label for="nomSucursal">New Name:</label>
  <input type="text" id="nomSucursal" th:field="*{nomSucursal}" /><br/>

  <label for="paisSucursal">New Country:</label>
  <input type="text" id="paisSucursal" th:field="*{paisSucursal}" /><br/>

  <button type="submit">Update Sucursal</button>
</form>
</body>
</html>