<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Sucursal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  background-color: #f0f0f0;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
}
    </style>

</head>

<body style="margin: 0 auto; width: 100%;">
<!--Title -->
<div class="container-fluid ">
    <br>
    <h2 th:text="${title}" style="text-align: center; font-weight: bold;"></h2>
    <br>
</div>

<div class="w3-content w3-container w3-padding-64">
    <div class="w3-col m8 w3-panel" style="margin: -50 auto; width: 100%;">
        <div class="form-instructions">
            <p class="instruction-header">Complete the following information to register a new company branch:</p>

            <ul class="instruction-list">
                <li><strong>Branch Name</strong> (Required)</li>
                <li><strong>Country</strong> (Required)</li>
            </ul>

            <p class="instruction-footer">
                Please ensure the accuracy and completeness of the "Branch Name" and "Country" fields. Fields marked as "Required" must be filled in before submitting the form. If you have any questions or need assistance, don't hesitate to contact our support team.
            </p>

            <p class="thank-you-message">Thank you for your cooperation!</p>
        </div>
        <form th:action="${action == 'add' ? '/sucursal/add' : '/sucursal/update'}" th:object="${sucursal}"
              method="post">
            <input type="hidden" name="action" th:value="${action}"/>
            <input type="hidden" th:field="*{pk_SucursalID}"/>

            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-half">
                    <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"
                           id="nomSucursal"
                           th:field="*{nomSucursal}">
                </div>
                <div class="w3-half">
                    <input class="w3-input w3-border" type="text" placeholder="Country" required name="Country"
                           id="paisSucursal" th:field="*{paisSucursal}">
                </div>

            </div>
            <button class="w3-button w3-black w3-right w3-section" type="submit"> Create</button>
        </form>
    </div>
</div>

</body>
</html>